*, body, html {
	padding: 0;
	margin: 0;
}
.wrapper {
	width: 40%;
	margin: 200 auto;
}

img {
	display: block;
	margin: 0 auto;
	height: 50%;
}

.slider {
	overflow: hidden;
	display: none;
}

.left, .right {
	text-decoration: none;
	font-size: 5em;
	font-weight: bolder;
	color: black;
		position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}